/* Global Styles */

:root {
    background-color: #f5f5f5;
    font-size: 62.5%;
    --color_bg:#f3f1f798;
    --color_txt:#333;
    --color_main:#00791e;
    --color_hover:#0b5f0dd7;
    --color_5:#;
    --color_6:#;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: var(--color_txt);
}


/* Container Styles */

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
    background-color:var(--color_bg);
}

.container > * {
    width: 100%;
}


.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}


.logo {
    font-size: 10rem;
    color: var(--color_main);
}
       
        
@keyframes rotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


.rotate {
animation: rotate 4s linear infinite;
}

.scale-in {
    animation: scaleInAnimation 0.5s ease forwards;
    opacity: 0;
    transform: scale(0);
}
h1,
h2{
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 3.6rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    color: var(--color_txt);
    text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.1);
    text-align: center;
}


/* Button Styles */

.buttons {
    display: flex;
    align-items: center;
}

.btn {
    margin: 2rem 1rem;
    padding: 1rem 2rem;
    font-size: 1.8rem;
    cursor: pointer;
    background-color: var(--color_main);
    color: white;
    border: 0.2rem solid transparent;
    border-radius: 0.5rem;
    text-align: center;
    text-decoration: none;
    transition: background-color 150ms;
}

.btn:hover {
    background-color: var(--color_hover);
    box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
    transform: translateY(-0.1rem);
    border-color: transparent;
}

/* rules page */

p, ol, li {
    font-size: 1.8rem;
    color: var(--color_txt);
    margin-bottom: 1rem;
}

.container ol {
    margin-bottom: 1.5rem;
}

.container ol li {
    margin-bottom: 1rem;
    list-style-type: decimal;
}

h3{
    font-size: 1.8rem;
    text-align: center;
}

.clr-green{
    font-weight: 900;
    color: green;
}

.clr-red{
    font-weight: 900;
    color:red;
}

/* start_game */


#game {
    display: flex;
    justify-content: space-between;
}

#buttons-game {
    margin-top: 2.5rem;
}

.options {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.option {
    width: 100%;
    margin-bottom: 1rem;
    padding: 1rem 2rem;
    font-size: 1.8rem; 
    background-color: var(--color_main);
    color: white;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}

.option:hover {
    background-color: var(--color_hover);
}


#question-info {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#question-number {
    font-size: 2rem;
    margin: 0;
    font-weight: 900;
}

.option.correct {
    background-color: green ;
}

.option.incorrect {
    background-color: red;
}


#display {
    display: flex;
    justify-content: space-between;
    padding-top: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

#score-display {
    background-color: #333;
    width: 10rem;
    height: 10rem;
    padding: 1rem;
    border-radius: 50%;
    text-align: center;
    box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
}

.score {
    color: white;
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: 0.5rem;
    padding-top: 1rem;
}


.your-score {
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
}

#timer-display {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.timer {
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
}


/* Media Queries */

@media screen and (max-width: 70rem) {

    #game {
        display: block;
    }
    
    #game_page .container {
        padding: 1rem;
    }
    
    #game-items {
        text-align: center;
    }
    
    #buttons-game {
        margin-top: 2rem;
        text-align: center;
    }
    
}


@media screen and (max-width: 48rem) {

    .logo {
        font-size: 6rem;
    }
    
    h1 {
        font-size: 2.5rem;
        margin-bottom: 3rem;
        text-align: center;
    }
    
    .buttons {
        flex-direction: column;
        margin-top: 2rem;
    }
    
    .btn {
        margin: 1rem;
        padding: 1rem 1.5rem;
        font-size: 1.4rem;
    }
    
    #game {
        display: block;
    }
    
    #game_page .container {
        padding: 1rem;
    }
    
    #game-items {
        padding-top: 1rem;
        text-align: center;
    }
    
    #buttons-game {
        padding-top: 2rem;
        text-align: center;
    }
    
    #question h2 {
        font-size: 1.8rem;
    }
    
    .option {
        font-size: 1.4rem;
        padding: 0.6rem 1.2rem;
    }
    
    .container {
        padding: 1rem;
    }
    
    p,
    ol,
    li {
        font-size: 1.4rem;
        margin-bottom: 0.5rem;
    }
    
    .container ol {
        margin-bottom: 1rem;
        padding: 0 1rem;
        text-align: center;
    }
    
    .container ol li {
        margin-bottom: 0.5rem;
        text-align: left;
    }
    
    .timer {
        font-size: 1.5rem;
    }
    
    #question-number {
        font-size: 1.5rem;
    }
    
    }
    


